.hero-section .left-clm {
  background: #084C9D;
}
.hero-section .left-clm p, .hero-section .left-clm a {
  text-align: center;
}
.hero-section .left-clm p {
  color: #fff;
}
.hero-section .left-clm .title {
  font-size: 45px;
  font-weight: bold;
}
.hero-section .left-clm a {
  margin-top: 15px !important;
}
.hero-section ul li {
  font-style: italic;
  margin-bottom: 10px;
  color: #fff;
}
.hero-section ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  margin-top: 12px;
}
.hero-section svg {
  width: 15px;
  fill: #FF8201;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.highlight-section {
  background: #ffc107;
  padding: 25px 0px;
}
.highlight-section p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
}

.infosection p {
  text-align: center;
  margin: 0px;
  color: #fff;
}
.infosection .title {
  font-size: 20px;
  margin-bottom: 5px;
}
.infosection .first {
  background: #0071A1;
}
.infosection .second {
  background: #FF8201;
}
.infosection .third {
  background: #177D00;
}

.location-advantages-section {
  background: #084C9D;
}
.location-advantages-section p, .location-advantages-section h2, .location-advantages-section h3, .location-advantages-section div {
  color: #fff;
}
.location-advantages-section .highlight-card {
  margin-bottom: 15px;
}
.location-advantages-section .blue-highlight-box {
  padding: 50px;
}

.download-section h2, .download-section p {
  text-align: center;
}
.download-section thead, .download-section thead tr, .download-section thead tr th {
  background: #ffc107;
}
.download-section td, .download-section th, .download-section tr {
  padding: 15px;
}
.download-section table a {
  color: #c15959;
}

.plan-section h2, .plan-section p {
  text-align: center;
}
.plan-section img {
  padding: 10px;
  border: 2px solid #af7668;
  border-radius: 10px;
}

.actualImage h2 {
  text-align: center;
}

.amenitiess-section h2 {
  text-align: center;
}
.amenitiess-section .boxarea {
  border: 1px solid #000;
  margin-bottom: 10px;
  transform: translate(0px, 0px);
  transition: all 200ms ease-in-out;
}
.amenitiess-section .boxarea p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 0px;
  text-transform: capitalize;
}
.amenitiess-section .boxarea img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.amenitiess-section .boxarea:hover {
  transform: translate(0px, -9px);
  transition: all 200ms ease-in-out;
}

.contact-section {
  padding: 70px 0;
  background: #f4f7fb;
}
.contact-section form {
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
  padding: 30px;
  border-radius: 10px;
  background: #fff;
}
.contact-section form input, .contact-section form textarea {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.contact-section form label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #000;
}

.contact-card {
  border-radius: 25px;
  height: 100%;
  padding-top: 0px;
}

.contact-title {
  font-size: 38px;
  font-weight: 700;
}

.contact-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
  padding: 20px 15px;
  border-radius: 10px;
  background: #fff;
}

.contact-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.contact-item p, .contact-item strong {
  font-size: 18px;
  margin: 0px;
}

.social-content {
  width: 88% !important;
}

.contact-icon-2 {
  width: 60px;
  height: 60px;
}

#home, #highlights, #amenities, #pricing, #location, #floorplans {
  scroll-margin-top: 162px;
}

.lightanimation {
  -webkit-animation: buttonanimation 900ms ease-in-out infinite;
          animation: buttonanimation 900ms ease-in-out infinite;
}
.lightanimation:hover {
  -webkit-animation: buttonimation 900ms ease-in-out infinite;
          animation: buttonimation 900ms ease-in-out infinite;
  opacity: 1;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.about-us-section .btn-web-button {
  background: #FF8201 !important;
  -webkit-animation: buttonanimation 900ms ease-in-out infinite;
          animation: buttonanimation 900ms ease-in-out infinite;
}
.about-us-section .btn-web-button:hover {
  -webkit-animation: buttonimation 900ms ease-in-out infinite;
          animation: buttonimation 900ms ease-in-out infinite;
  opacity: 1;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.register-button {
  -webkit-animation: buttonanimation 900ms ease-in-out infinite;
          animation: buttonanimation 900ms ease-in-out infinite;
}
.register-button .btn-web-button {
  background: #FF8201 !important;
}
.register-button:hover {
  -webkit-animation: buttonimation 900ms ease-in-out infinite;
          animation: buttonimation 900ms ease-in-out infinite;
  opacity: 1;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.highlight-section p {
  text-transform: uppercase;
}

@-webkit-keyframes buttonanimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes buttonanimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 768px) {
  .table-section table td:nth-child(2) {
    width: 110px !important;
  }
  .table-payment {
    overflow: hidden;
    overflow-x: scroll;
  }
  .table-payment table {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-collapse: collapse;
  }
  .table-payment table th, .table-payment table td {
    white-space: nowrap;
    padding: 10px;
  }
  .actualImage img {
    margin-bottom: 15px;
  }
  .plan-section .title {
    margin-top: 30px;
  }
  .contact-section form {
    padding: 20px;
  }
  .location-advantages-section .blue-highlight-box {
    padding: 5px;
    padding-bottom: 30px;
  }
  .hero-section .content {
    padding: 30px 0px;
  }
  .hero-section .left-clm .title {
    margin-bottom: 15px !important;
    font-size: 28px !important;
  }
  .payment-section .card-modern h2 {
    font-size: 28px !important;
  }
  .payment-section .card-modern h3 {
    font-size: 20px !important;
  }
  .about-us-section .container img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}/*# sourceMappingURL=dstyle.css.map */