$blue: #0071A1
$red: #c15959
$darkblue: #084C9D
$green: #177D00
$orange: #FF8201
$yellow: #ffc107

.registration-form
    background: #f4f7fb
    form
        border: 1px solid $orange
        padding: 30px
        border-radius: 10px
        background: #fff
        input, textarea, select
            margin-bottom: 15px
            padding: 10px
            border: 1px solid #0004
        label
            font-weight: 500
            margin-bottom: 5px
            color: #000
